<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    Credenziali di dominio per l'accesso alla posta
    -->
    <add key="Exchange.Ews.Url" value="https://owa.nomedominio,com/ews/exchange.asmx"/>
    <add key="Exchange.Domain" value="Nome dominio Active Directory"/>
    <add key="Exchange.User" value="nome dell'utente"/>
    <add key="Exchange.Psswd" value="Password dell'utente"/>
    <add key="Mail.Polling.Interval" value="2"/>
    <add key="Mail.IgnoreStrings" value="Risposta automatica:;"/>
    <add key="Mail.Response.TFSAddress" value="tfsfarm-noreplay@nomedomino.com;" />

    <!--
    Mail di Log   
    -->
    <add key="Mail.AlertOnError" value="true"/>
    <add key="Mail.AlertOnErrorAddress" value="ALM@nomedominio.com"/>
    <add key="Mail.AlertOnErrorTitle" value="Errore del Servizio di creazione automatica BUG via E-Mail"/>

    <!--
    Credenziali di accesso a TFS
    -->
    <add key="TFS.Url" value="http://url_di_TSF:8080/tfs"/>
    <add key="TFS.Domain" value="DOminio"/>
    <add key="TFS.User" value="Utente"/>
    <add key="TFS.Psswd" value="Password"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!-- 
    Forzo WI di tipo BUG sul Progetto INPS-PA
    -->
    <add key="TFS.Collection" value="TEST"/>
    <add key="TFS.Project" value="PrjTest"/>
    <add key="TFS.AreaPath" value="PrjTest\Conduzione"/>
    <add key="TFS.IterationPath" value="PrjTest\Release 1"/>
    <add key="TFS.StepsToReproduceName" value="Repro Steps"/>
    <add key="TFS.AssignedToName" value="Assigned To"/>
    <add key="TFS.AssignedToValue" value="[PrjTest]\Contributors"/>

  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>